<div class="content">
  <div class="container">
    <div class="sidebar has-background-white">
      <h2 class="title has-text-primary">Lists</h2>
      <div class="list-menu">
        <a
          class="list-menu__item"
          *ngFor="let list of lists"
          [routerLink]="['/lists', list._id]"
          routerLinkActive="is-active"
          ><p>{{ list.title }}</p></a
        >
      </div>

      <button class="button is-primary" routerLink="/new-list">
        + New List
      </button>
    </div>

    <div class="list has-background-light">
      <h2 class="title has-text-primary has-text-white">Tasks</h2>

      <!-- Task Elements -->
      <div class="task" *ngFor="let task of tasks">
        <p>{{ task.title }}</p>
      </div>

      <button
        routerLink="./new-task"
        class="circle-add-button button is-primary"
      >
        <img src="../../../assets/plus-icon.svg" alt="plus-icon" />
      </button>
    </div>
  </div>
</div>
